.tp-title{
	background-image: url(./hottopic.jpeg);
	background-position: center center;
	color: #bcdc91;
	text-align: center;
	width: 400px;
	height: 100px;
	font-size: 20px;
	line-height: 100px;
	border-radius: 10px;

}

.hp{
	font-family: 'Times New Roman', Times, serif;
	white-space: pre-line;
	word-break: break-all;
}

.tp-container-out{
	background-image: url(./background.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	/* background-size: 400px 350px; */
	width: 400px;
	height: 350px;
	border: 1px solid black;
	
}

.tp-container-in{
	position: absolute;
	left: 25%;
	width: 200px;
	height: 350px;
	display: flex;
	text-align: center;
	font-size: 16px;
	line-height: 35px;
}

.tp-cl-container{
	position: absolute;
	left: 60%;
}

.tp-cl-container{
	position: absolute;
	left: 60%;
}

.clock-container{
	background-image: url(./background3.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 400px;
	height: 200px;
	background-size: 400px 200px;
	display: inline-block;
	border-radius: 20px;
}

.year{
	position: absolute;
	top: 5%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #15bc71;
	left: 5%;
}

.hour{
	position: absolute;
	top: 15%;
	font-family: fantasy;
	color: #1e0b41;
	font-size: 60px;
	left: 5%;
}

.container {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.logo {
	background-image: url("./logo.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 150px;
	width: 200px;
	display: inline-block;
	vertical-align: middle;
}

.nav {
	float: right;
}

ul {
	padding: 0;
}

li {
	display: inline-block;
	list-style: none;
}


.navbutton {
	background: transparent;
	border: none;
	font-size: 20px;
	color: #484848;
	margin: 0 50px;
	cursor: pointer;
	padding: 30px 50px 5px 0;
	-webkit-font-smoothing: antialiased;
}

.navbutton:hover {
	border-bottom: 2px solid #484848;
}

button[class*="btn"] {
	border: 0;
}

/* 3D Button */
.btn-3d {
	display: inline-block;
	width: 200px;
	height: 100px;
	font-size: 22px;
	padding: 20px 60px;
	color: white;
	margin: 20px 10px 10px;
	border-radius: 6px;
	text-align: left;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.btn-3d.red:hover {
	background-color: #e74c3c;
}

.btn-3d.blue:hover {
	background-color: #699DD1;
}

.btn-3d.green:hover {
	background-color: #80C49D;
}

.btn-3d.purple:hover {
	background-color: #D19ECB;
}

.btn-3d.yellow:hover {
	background-color: #F0D264;
}

.btn-3d.cyan:hover {
	background-color: #82D1E3;
}

.btn-3d:active {
	top: 9px;
}

/* 3D button colors */
.btn-3d.red {
	background-color: #e74c3c;
	box-shadow: 0 0 0 1px #c63702 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 #C24032,
		0 8px 0 1px rgba(0, 0, 0, 0.4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.red:active {
	box-shadow: 0 0 0 1px #c63702 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.blue {
	background-color: #6DA2D9;
	box-shadow: 0 0 0 1px #6698cb inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 rgba(110, 164, 219, .7),
		0 8px 0 1px rgba(0, 0, 0, .4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.blue:active {
	box-shadow: 0 0 0 1px #6191C2 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.green {
	position: absolute;
	left: 10%;
	top: 30%;
	background-color: #82c8a0;
	box-shadow: 0 0 0 1px #82c8a0 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 rgba(126, 194, 155, .7),
		0 8px 0 1px rgba(0, 0, 0, .4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.green:active {
	box-shadow: 0 0 0 1px #82c8a0 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.purple {
	position: absolute;
	left: 30%;
	top: 30%;
	background-color: #cb99c5;
	box-shadow: 0 0 0 1px #cb99c5 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 rgba(189, 142, 183, .7),
		0 8px 0 1px rgba(0, 0, 0, .4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.purple:active {
	box-shadow: 0 0 0 1px #cb99c5 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.cyan {
	position: absolute;
	left: 10%;
	top: 55%;
	background-color: #7fccde;
	box-shadow: 0 0 0 1px #7fccde inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 rgba(102, 164, 178, .6),
		0 8px 0 1px rgba(0, 0, 0, .4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.cyan:active {
	box-shadow: 0 0 0 1px #7fccde inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.yellow {
	position: absolute;
	left: 30%;
	top: 55%;
	background-color: #F0D264;
	box-shadow: 0 0 0 1px #F0D264 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 rgba(196, 172, 83, .7),
		0 8px 0 1px rgba(0, 0, 0, .4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.yellow:active {
	box-shadow: 0 0 0 1px #F0D264 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}